.container_rodape{
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-evenly;
    background-color: #EAEAEA;
}

.card img{
    width: 40px;
    height: 40px;
}

.card a{
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card{
    display: flex;
}

/* MAX WIDTH 768PX */

@media(max-width: 768px){
    .container_rodape{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}